# Dependencias
node_modules/

# Variables de entorno (¡nunca subir el .env real!)
.env

# Logs
logs/
*.log
npm-debug.log*

# Prisma (cliente generado)
prisma/migrations/

# Compilación
dist/
build/

# Sistema operativo
.DS_Store
Thumbs.db

/src/generated/prisma
